<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Prueba</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,700&family=Open+Sans:wght@300&family=Shizuru&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Este es el root del Sitio</h1>

    <h2 id="subtitulo"> Sutituulooooo</h2>

    <img src="/images/rombos.jpg" alt="Imagen de Palmeras">

    <p class="producto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet consequuntur sunt dignissimos ipsum accusantium omnis aliquid sed facere mollitia, 
    fuga eligendi voluptatum, voluptates deleniti est corrupti quos nisi eum velit?</p>

    <h3>Mira que liiiinda esta imagen</h3>

    <a href="https://google.com"><img src="/images/algo.jpg" alt="Imagen de algo"></a>

    <p class="producto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis fugit odio quas sed natus, dolorum quo minima quaerat facilis 
    quod aperiam cupiditate dolores consectetur, aut accusantium amet repudiandae alias laudantium.</p>

    <ol>
        <li class="item1">Item 1</li>
        <li class="item2">Item 2</li>
        <li class="item3">Item 3</li>
    </ol>

    <ul>
        <li class="item1">Item 1</li>
        <li class="item2">Item 2</li>
        <li class="item3">Item 3</li>
    </ul>
</body>
</html>