h1 {
    color: red;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p.producto {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: lighter;
    text-align: center;
}

#subtitulo {
    color: blue;
    font-weight: 200;
    font-size: 25px;
    text-align: center;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li.item1 {
    color: green;
    font-style: italic;
    font-size: medium;
}
li.item2 {
    color: red;
    font-style: normal;
    font-size: small;
}

li.item3 {
    color: rebeccapurple;
    font-style: italic;
    font-size: smaller;
}